<h2>Messaging Test</h2>

<div>
  Logged in as: <%= current_user.email %>
</div>
<br>

Check out these rooms:
<br>
<%= link_to "Games", message_path("games") %>
<br>
<%= link_to "Programming", message_path("programming") %>
